<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tree</title>
</head>

<body>
    
    <h2><span style="color: #105CB6;">Metricas Modelado</span></h2>
    <hr align="left" noshade="noshade" size="2" width="50%" />
    <h3><span style="color: #FF0000;">Prediccion de Informacion: </span> [{{valor1|safe}}]</h3>
    <h3><span style="color: #FF0000;">Clasificador:</span> [{{valor2}}]</h3>
    <h3><span style="color: #FF0000;">accuracy_score</span> [{{valor3}}]</h3>
    <hr align="left" noshade="noshade" size="2" width="50%" />

        

    <div class="container">
        <!--h2>Image</h2-->
        <img src="data:imagep/png;base64,{{urlp}}" alt="Chart" height="auto" width="60%">
    </div>

</body>

</html>