<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regresion Polinomial</title>
</head>

<body>
    <h2><span style="color: #105CB6;">Datos del Modelado</span></h2>
    <h3><span style="color: #FF0000;">Error Cuadratico Medio : </span> [{{valor1}}]</h3>
    <h3><span style="color: #FF0000;">Coeficiente de Determinacion:</span> [{{valor2}}]</h3>
    <h3><span style="color: #FF0000;">Prediccion sobre valor asignados:</span> [{{valor3}}]</h3>

    <div class="container">
        <h2>Image</h2>
        <img src="data:imagep/png;base64,{{urlp}}" alt="Chart" height="auto" width="60%">
    </div>

</body>

</html>